:root {
    --secondary-col: #E8EDEF;
    --tert-col: linear-gradient(to right, #ffb347 0%, #ffcc33  51%, #ffb347  100%);
}

html {
    scroll-behavior: smooth;
    border-top: none !important;
}

li {
    list-style: none;
}

#didi {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#dothis li {
    list-style: circle;
}

br {
    display: none;
}

#btt {
    background-image: var(--tert-col);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;  
    display: block;
}

#btt:focus {
    outline: none;
    box-shadow: none;
}

#btt:hover {
    transform: translateY(5px);
    background-position: right center; /* change the direction of the change here */
}

.same {
    background-color: var(--secondary-col) !important;
}

#bt-1:hover {
    color: #fff !important;
    transform: rotate(360deg) scale(1.25);
    transition: 0.5s all;
}

#bt-1:not(:hover) { 
    color: #9A9DA0 !important;
    transform: rotate(0deg);
    transition: 0.75s all;
} 

#bt {
    color: #9A9DA0;
    border-top: 3px solid #ffbb33;
}

#bt:hover {
    color: #fff;
    transform: scale(1.01);
    transition: 1s all ease;
}

#bb {
    font-size: 1.1rem;
    font-weight: 400;
}

#p-d {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */  
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-left: 6px solid #ffbb33;
    box-shadow: 0 5px 8px 0 #888888;
    border-radius: 7px;
}

#p-d:hover {
    transform: scale(1.04);
    background: rgba(inherit,.9);
    transition: 1s all;
}

#p-d:not(:hover) {
    transform: scale(1);
    transition: 0.75s all;
} 

#p-c {
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-left: 6px solid #ffbb33;
    box-shadow: 0 5px 10px 0 #555;
    border-radius: 7px;
}

#p-c:hover {
    transform: scale(1.04);
    background: rgba(inherit,.9);
    transition: 1s all;
}

#p-c:not(:hover) {
    transform: scale(1);
    transition: 0.4s all;
} 

footer i {
    padding-top: 5px;
    color: #9A9DA0;
}

footer i:hover {
    color: #fff;
    transform: translateY(-7.5px);
    transition: 1s all ease;
}

.te {
    margin: 3%;
}

.te h5 {
    margin-top: -10px;
}

#maint li {
    list-style: disc;
}

@media (min-width: 400px) {
    .container-small {
        width: 350px;
    }
    .container-large {
        width: 550px;
    } 
} 

@media (min-width: 768px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 970px;
    } 
} 
@media (min-width: 992px) {
    .container-small {
        width: 800px;
    }
    .container-large {
        width: 1170px;
    }
} 
@media (min-width: 1200px) {
    .container-small {
        width: 1200px;
    }
    .container-large {
        width: 1600px;
    } 
}

@media (max-width: 768px) {
    #dis {
        font-size: 4rem;
    }
    #ra {
        font-size: 1.3rem;
    }
    #re {
        font-size: 1.2rem;
    }
}

@media (max-width: 575px) {
    #col {
        display: grid;
        justify-content: end;
    }

    #col li {
        flex-direction: row;
        margin: 0 10px;
    }
    #didi {
        width: 300px !important;
    }
}

@media (max-width: 400px) {
    #dis {
        font-size: 2.3rem;
    }
    #didi {
        width: 215px !important;
    }
    #p-c,
    #p-d {
        font-size: 0.9rem;
    }
    br {
        display: block;
    }
}

@media (max-width: 280px) {
    #did {
        display: none;
    }
}

.container-small, .container-large {
    max-width: 100%;
}
